.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    width: 400px;
    min-height: 300px;
}

.username {
    position: relative;
}

.username input[type=text] {
    padding-left: 30px;
}

.username input[type=text] + i {
    position: absolute;
    top: 43px;
    left: 10px;
    color:  #ced4da;
}

.username input[type=text]:focus + i {
    color: #17a3b880;
}

.login-password {
    width: 300px;
    position: relative;
}

.login-password input[type=password] {
    padding-left: 30px;
}

.login-password input[type=password] + i {
    position: absolute;
    top: 43px;
    left: 9px;
    color:  #ced4da;
}

.login-password input[type=password]:focus + i {
    color: #17a3b880;
}
